<div class="sidenav" [ngClass]="collapsed ? 'sidenav-cocollapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fal fa-music"></i></button>
        <div class="d-flex justify-content-center align-items-center" (click)="toggleCollapse()" *ngIf="collapsed">
            <img class="logo-image" src="assets/logo-ccb-light.png" alt="logo-ccb">
        </div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <img class="sidenav-link-icon" [src]="data.icon">
                <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
            </a>
        </li>
    </ul>
</div>